body
{
    /*background-color: #3366CC;*/
    background-color: red;
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: verdana;
	font-size: 11px;
    font-weight: normal;   
    /*color: #003063;*/
    color:white;   
      
}

/* Zone EN-TETE*/
.header
{
	background-image: url('Images/vignoble3.jpg');
	background-repeat: no-repeat;
    position: relative;
    width: 1000px;
    height: 276px;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
}

/* Zone PIED DE PAGE */
.footer
{
    /*background-color: #3366CC;*/
    background-color:red;
    margin-left: auto;
    margin-right: auto;
    margin-top:0.4em;
    width: 1000px;
    text-align: center;
    font-size: 9px;
}

/* Zone CENTRE DE PAGE */
.page
{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    /*background-color: #3366CC;*/
    background-color:red;
    position: relative;
    width: 952px;
    padding: 24px 24px;
	top: 0px;
	left: 0px;
}
#sidebar 
{
	color: #000000;
	float: left;
	width: 230px;
	height: 100%;
	background-image: url('Images/vignoble.jpg');
	background-repeat: no-repeat;
	background-color: #0099FF;
}

#content 
{
	background-color: red;
	/* margin-left: 260px; */
}

#liensEspaceMembre
{
    margin-left: 2em;
    margin-top: 1.0em;
}

.gridcontent
{
    margin-top: 1.0em;
    width:460px;
    border-right: #7b9ebd 1px solid;
    border-top: #7b9ebd 1px solid;
    border-left: #7b9ebd 1px solid;
    border-bottom: #7b9ebd 1px solid;
}
.menu
{
    margin-bottom: 0.3em;
    text-transform: uppercase;
}
.treeview
{
    margin-left: 2em;
    margin-top: 1.0em;
    margin-bottom: 1.12em;
    line-height: 2.1em;
}
.headercell
{
    color: #003063;
    font-weight:bold;
    vertical-align:text-top;
    text-align:right;
    width:150px;
}

/* BARRE DE FRACTIONNEMENT */
hr {
	border: 0;
	border-top: 1px solid #efeff7;
	height: 1px;
}

/* TITRE */
h1,h2,h3
{
    margin: 10px;
	font-family: verdana;
	font-size: 22px;
}
h1
{
 	margin-top: 0.9em;
	margin-bottom: 1.0em;
    font-weight: bold;
    font-size: large;
}
h2
{
    font-weight: normal;
}
h3
{
    font-weight: bold;
}

/* LIENS HYPERTEXTE */
a {
	text-decoration: none;
	color: #003063;
	font-weight:bold;
}

a:visited {
	color: #003063;
	font-weight:bold ;
}

a:hover {
	text-decoration: underline;
	color: #003063;
	font-weight:bold;
}

a:active {
	color: #003063;
	font-weight:bold;
}

/* LISTE */

ul {
	list-style-type: none;
	list-style-image: url('Images/bullet-2.gif');
	list-style-position: outside;
	line-height: 2.1em;
	vertical-align: middle;
	margin-left: 1.25em;
}
.link {
	list-style-image: url('Images/bullet-1.gif');
}

ol li{
    font-size: 22px;
    font-weight: normal;
}

#vinstable td{
    font-size: 20px;
}

table .caddie{
    border-collapse:collapse;
}

table td,th.caddie{
    border-spacing:0px;
    border:1px dotted;
}

.menu
{
    margin-bottom: 0.3em;
    align-content:flex-end;
}

.userinfo{
    font-size:24px;
    font-weight:bold;
}