﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
            <table>
        <tr>
            <td>Username:</td>
            <td><input name="user_login" id="user_login" type="text" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name="user_password" id="Password1" type="password" />

            </td>
        </tr>

        <tr>
            <td><asp:Button ID="LoginBtn" runat="server" Text="Login" OnClick="LoginBtn_Click" /></td>
            <td><input type="button" value="Signup" onclick="location.href='register.aspx'"/></td>
            
        </tr>


    </table>

    <asp:SqlDataSource ID="dsClient" runat="server" 
        ConnectionString="<%$ ConnectionStrings:ConnectionString %>" 
        SelectCommand="SELECT TOP 1 idclient, login, mdp, nom, adresse, ville, pays, telephone, email FROM clients WHERE (login = @login) AND (mdp = @pwd)">
    <SelectParameters>
        <asp:FormParameter DefaultValue="" FormField="user_login" Name="login" />
        <asp:FormParameter DefaultValue="" FormField="user_password" Name="pwd" />
    </SelectParameters>
    </asp:SqlDataSource>

    <asp:Label runat="server" ID="test_label" />


    </div>
    </form>
</body>
</html>
