﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageIndex.master" AutoEventWireup="true" CodeFile="testLinq.aspx.cs" Inherits="testLinq" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Nav" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Main" Runat="Server">
     <asp:Label ID="Label1" runat="server" Text="Choose user login: "></asp:Label>
    <asp:DropDownList ID="DropdClient" runat="server" AutoPostBack="true">
    </asp:DropDownList>
    <asp:GridView ID="GridView1" runat="server">
    </asp:GridView>
   
    </asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="QuickLink" Runat="Server">


</asp:Content>

