﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Validate.aspx.cs" Inherits="Validate" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Nav" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Main" Runat="Server">

</asp:Content>

